{% extends 'base.html' %}
{% load static %}
{% block title %}Delete OrderFood{% endblock %}

{% block content %}
    {% if order.status == 'delivered' or order.status == 'on_way' %}
        {% include 'error.html' %}
    {% else %}
        <form action="{% url 'order_food_delete' orderfood.pk %}" method="post">
            {% csrf_token %}
            <input type="radio" value="yes" name="delete"> Yes<br>
            <input type="radio" value="no" name="delete" checked> No<br>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}